body{
    
    margin: 0;
    padding: 0;
}
.part-1{
    background-color: black;
    width: 100%;
    height: 800px;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 0.4s ease-in-out;
}
header.scrolled{
    background-color: white;
    opacity: 0.98;
}
header nav{
    padding: 10px;
    margin-left: 500px;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 12px;
    transition: color 0.4s ease-in-out;
    
   
}
header.scrolled nav a{
    color: black;
}
.para-style{
    height: 700px;
    padding: 5px;
    font-size: 17px;
    color: white;
    margin-top: 65px;
}


/* Slider Css */

.all-slider{
    position: relative;
    top: 0;
    left: 0;
    
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
}
.active{
    visibility: visible;
    opacity: 1;
}